.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    background: linear-gradient(to left, #8219ff, #ffcb3d);
    background-clip: text;
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    -webkit-text-fill-color: transparent;
  }
}
